[submodule "include/zstd"]
	path = include/zstd
	url = https://github.com/facebook/zstd.git
[submodule "include/FiniteStateEntropy"]
	path = include/FiniteStateEntropy
	url = https://github.com/Cyan4973/FiniteStateEntropy.git
