bitarray==2.9.2
bitshift==0.1
certifi==2024.6.2
charset-normalizer==3.3.2
cpplint==1.6.1
cramjam==2.8.3
dahuffman==0.4.1
docutils==0.21.2
filelock==3.14.0
fsspec==2024.5.0
huffman==0.1.2
huggingface-hub==0.24.3
idna==3.7
importlib_metadata==7.1.0
install==1.3.5
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
keyring==25.2.1
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
networkx==3.3
nh3==0.2.17
numpy==1.26.4
packaging==24.1
pkginfo==1.11.0
pyarrow==16.1.0
Pygments==2.18.0
python-snappy==0.7.1
PyYAML==6.0.1
readme_renderer==43.0
ReorderFloat==0.1
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
setuptools==70.0.0
-e git+ssh://git@github.com/zipnn/zipnn.git@3326e11c845d90650b3f47808cfa7b0ade7d8232#egg=split_dtype&subdirectory=csrc
sympy==1.12.1
torch==2.3.0
tqdm==4.66.4
twine==5.1.0
typing_extensions==4.12.0
urllib3==2.2.1
wheel==0.43.0
-e git+ssh://git@github.com/zipnn/zipnn.git@2310f09f1f1f5e508f3531c84aaf6ecbf5b20e40#egg=zipnn
zipp==3.19.1
zstandard==0.22.0
zstd==1.5.5.1
